
#crcl {
    width: 100px;
    height: 100px;
    background: rgb(255, 192, 203);
    border-radius: 50%
  }

  #crcl2 {
    width: 100px;
    height: 100px;
    background: rgb(255, 192, 203);
    border-radius: 50%
  }

  #crcl3 {
    width: 100px;
    height: 100px;
    background: rgb(250, 179, 203);
    border-radius: 50%
  }

  #crcl4 {
    width: 100px;
    height: 100px;
    background: rgb(136, 95, 101);
    border-radius: 50%
  }